body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: darkolivegreen;
    transition: all 0.5s;
}

canvas {
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
}